<%- include('partials/header.ejs') %> <!-- header -->

<main class="main mainPage">
    <div class="pageInitial pageBackgroundImage page">
        <div class="contactDetails">
            <div class="contactInfo row show">
                <div class="col-sm-12 col-md-6 col-lg-6 numberDiv">
                    <div id="numberP">
                        <p class="numberP">Contact Number:</p>
                    </div>
                    <div id="numberPOneAndTwo">
                        <p class="numberPOne">+27 15 023 0163</p>
                        <p class="numberPTwo">+27 78 307 1165</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 emailDiv">
                    <p class="emailP">Email Address: website@cpcc.co.za</p>
                </div>
            </div>
        </div>
    </div>
    <div id="pageFour" class="pageFour page">
        <div class="row">
            <h2 class="h2PageFour">About Us</h2>
            <div class="imageAboutUs container col-sm12 col-md-4 col-lg-3">
                <img id="imageAboutUs" alt="image of director" src="/images/cpccHeaderLogo.png" />
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <p>CyberPro Computer Consultants is a leading <span class="itUnderline">IT</span> company based 
                in Limpopo, South Africa. With a rich history dating back to our 
                establishment <span class="itUnderline">since 1997</span>, we have been at the forefront of 
                technological advancements, consistently delivering world-class 
                services and solutions to businesses of all sizes. 
                </p>
                <p>
                Our commitment to excellence and customer satisfaction has 
                made us a trusted partner <span class="itUnderline">for</span> numerous organizations across 
                various industries. At Cyber-Pro, we understand the critical role 
                that technology plays in today's business landscape.
                </p>
                <p>
                <span class="itUnderline">We</span> have built a reputation for delivering exceptional IT 
                services and solutions. Our team of highly skilled professionals is dedicated to understanding your 
                unique requirements and providing tailored solutions that <span class="itUnderline">make</span> your business move forward. 
                We invite you to experience the Cyber-Pro advantage and join our ever-growing family of satisfied 
                clients.
                </p>
                <p>
                We combine modern technology with 26 years of accumilated IT experience to produce automations to save <span class="itUnderline">you</span>r staff time and to save you money. 
                We pride ourselves on offering prompt and efficient service, prioritizing your business needs.
                </p>
                <p>
                If it seems like your company needs more staff to get <span class="itUnderline">work</span> done, but your budget just wont allow it...It's time to automate!
                </p>
            </div>
        </div>
    </div>
    <div>
        <button id="scrollToTopBtn"><img src="/images/up-arrow.png" class="up-arrow" loading="lazy"></button>
      </div>
</main>

<%- include('partials/footer.ejs') %><!-- footer -->