<%- include('partials/header.ejs') %> <!-- header -->

<main id="mainPage" class="main">
    <div class="pageInitial page"></div>
    <div class="pageItem container" id="pageFive">
        <div class="contactInfo">
            <p>Contact Number: 078 307 1165</p><p>Email Address: website@cpcc.co.za</p>
        </div>
        <h4 class="mt-5">Contact Us</h4>
        <form class="page" action="/send-email" method="POST">
            <div class="row">
                <label>Sign In With Google to retrieve your email: </label>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <% if (locals.userEmail) { %>
                        <input type="email" name="userEmail" placeholder="Sign In..." autocomplete="off" value="<%= userEmail %>" required>
                    <% } else { %>
                        <input type="email" name="userEmail" placeholder="Sign In..." autocomplete="off" disabled required>
                    <% } %>    
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button class="login-with-google-btn btn">
                        <span class="text">Sign In With Google</span>
                    </button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" name="userName" placeholder="Enter your Full Name..." autocomplete="off" required>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="number" name="userNumber" placeholder="Enter your number..." autocomplete="off" required>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <select name="userSelect" id="userSelect" required>
                        <option value="" disabled selected>Im interested in...</option>
                        <option value="Class One">Class One</option>
                        <option value="Class Two">Class Two</option>
                        <option value="Class Three">Class Three</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <textarea name="userEmailText" placeholder="Enter your message..." rows="4" autocomplete="off" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn button contactUsButton"><span class="text">Send Email</span></button>
                </div>
            </div>
        </form>
    </div>
</main>

<%- include('partials/footer.ejs') %><!-- footer -->