<%- include('partials/header.ejs') %> <!-- header -->

<main class="main mainPage">
    <div class="pageInitial pageBackgroundImage page">
        <div class="contactDetails">
            <div class="contactInfo row show">
                <div class="col-sm-12 col-md-6 col-lg-6 numberDiv">
                    <div id="numberP">
                        <p class="numberP">Contact Number:</p>
                    </div>
                    <div id="numberPOneAndTwo">
                        <p class="numberPOne">+27 15 023 0163</p>
                        <p class="numberPTwo">+27 78 307 1165</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 emailDiv">
                    <p class="emailP">Email Address: website@cpcc.co.za</p>
                </div>
            </div>
        </div>
    </div>
    <div id="pageFour" class="pageFour page">
        <div class="row">
            <h2 class="h2PageFour">About Us</h2>
            <div class="imageAboutUs container col-sm12 col-md-4 col-lg-3">
                <img id="imageAboutUs" alt="image of director" src="/images/cpccHeaderLogo.png" />
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <p>Cyber-Pro Computer Consultants is a leading IT company based 
                in Limpopo, South Africa. With a rich history dating back to our 
                establishment in 1997, we have been at the forefront of 
                technological advancements, consistently delivering world-class 
                services and solutions to businesses of all sizes. 
                </p>
                <p>
                Our commitment to excellence and customer satisfaction has 
                made us a trusted partner for numerous organizations across 
                various industries. At Cyber-Pro, we understand the critical role 
                that technology plays in today's business landscape, and we are 
                dedicated to making IT work for you.
                </p>
                <p>
                We have built a reputation for delivering exceptional IT 
                services and solutions. Our team of highly skilled professionals is dedicated to understanding your 
                unique requirements and providing tailored solutions that drive your business forward. 
                We invite you to experience the Cyber-Pro advantage and join our ever-growing family of satisfied 
                clients. Together, we will make IT work for you.
                </p>
                <p>
                If it seems like your company needs more staff to get done what needs doing, but your budget just wont allow it...<span class="itUnderline">It's time to automate!</span> 
                We pride ourselves on offering prompt and efficient service, prioritizing your business needs.
                </p>
                <p>
                We combine modern technology with 26 years of accumilated IT experience to produce automations to save your staff time and to save you money.
                </p>
            </div>
        </div>
    </div>
    <div class="pageItem page container pageFive" id="pageFive">
        <h4 class="mt-1">Contact Us</h4>
        <form class="inputForm" action="/send-email" method="POST">
            <div class="row">
                <% if (locals.message) { %>
                    <p id='message'><%= message %></p>
                <% } %>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="email" name="userEmail" placeholder="Enter your email..." autocomplete="off" required>    
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" name="userName" placeholder="Enter your Full Name..." autocomplete="off" required>
                </div>
                <% if (locals.numberMessage) { %>
                    <p id="numberMessage"><%= numberMessage %></p>
                <% } %>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="number" id="userNumber" name="userNumber" placeholder="Enter your number..." autocomplete="off" required>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <select name="userSelect" id="userSelect" required>
                        <option value="" disabled selected>Im interested in...</option>
                        <option value="Robotic Process Automation (RPA)">Robotic Process Automation (RPA)</option>
                        <option value="Server Support">Server Support</option>
                        <option value="Desktop Support">Desktop Support</option>
                        <option value="Full Stack Development">Full Stack Development</option>
                        <option value="Web Development and Hosting">Web Development and Hosting</option>
                        <option value="Microsoft and Linux Services">Microsoft and Linux Services</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <textarea name="userEmailText" placeholder="What do you need..." rows="4" autocomplete="off" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn button contactUsButton"><span class="text">Send Email</span></button>
                </div>
            </div>
        </form>
    </div>
</main>

<%- include('partials/footer.ejs') %><!-- footer -->