<%- include('partials/header.ejs') %> <!-- header -->

<main id="mainPage" class="main">
    <div class="pageInitial"></div>
    <div id="pageFour" class="pageFour">
        <h1>Hello World</h1>
    </div>
</main>

<%- include('partials/footer.ejs') %><!-- footer -->