<%- include('partials/header.ejs') %> <!-- header -->

<main class="main mainPage">
  <div id="pageOne" class="pageOne page my-4 py-4">
    <div class="container pageOneContent col-xxl-8 px-2 py-4">
      <div class="row flex-sm-row-reverse align-items-center g-5 py-4 px-3">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 homepageImg">
          <img src="/images/cpccLogoCube.png" id="homepageImg" class="d-block mx-lg-auto img-fluid" alt="Cyber-Pro image" loading="lazy">
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 homepageSlogan px-5">
          <h1 class="display-5 fw-bold lh-1 mb-0">CyberPro</h1><p class="mb-4">Computer Consultants (Pty) Ltd</p>
          <blockquote><p class="lead">we make <span class="itUnderline">IT</span> work for you since 1997</p></blockquote>
        </div>
      </div>
      <div class="row getStartedRow">
        <div class="col-12 getStartedDiv">
          <a href="/getStarted/#pageFive"><button class="getStartedButton"><span class="text">WANT FREE A QUOTE</span></button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="pageTwo" class="pageTwo page my-5 py-5">
    <h2>What we do:</h2>
    <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Robotic Process Automation (RPA):</h4>
          <p>Utilizing our expertise in Robotic Process Automation, we offer cutting-edge RPA solutions that automate repetitive tasks and streamline business processes, enhancing operational efficiency, your workflows and productivity.</p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Server Support:</h4>
          <p>Our expert team provides comprehensive server support for both Linux and Windows servers, whether they are located on-premises or in the cloud. We ensure the smooth operation and optimal performance of your server infrastructure.</p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Desktop Support:</h4>
          <p>With our desktop support services, we assist in resolving technical issues and maintaining the performance of your employees' laptops and computers. Our team is equipped to handle a wide range of desktop-related challenges.</p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Full Stack Development:</h4>
          <p>We specialize in full stack development, creating custom-built solutions tailored to meet your unique requirements. From web development to e-commerce sites, we leverage the latest technologies to deliver exceptional results.</p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Web Development and Hosting:</h4>
          <p>Our skilled developers create visually appealing and functional websites, complemented by reliable hosting services. We ensure your online presence stands out and provides a seamless user experience.</p>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex align-items-start">
        <div>
          <h4>Microsoft and Linux Services:</h4>
          <p> As a certified partner, we provide comprehensive support for the entire Microsoft and Linux spectrum of software and cloud-based services. Our expertise covers diverse solutions, enabling us to optimize your IT infrastructure.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="pageThree" class="pageThree page my-4 py-4">
    <main>
      <div class="featureContainer">
        <h4>Our service level agreement (SLA) guarantees:</h4>
        <p class="mb-3">Call Classifications: We categorize calls into three classes to ensure the appropriate response times 
          and priority levels
        </p>
        <div class="featuresRow row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card page cardFeature mb-1 rounded-3 shadow-sm">
              <div class="card-header pt-3">
                <h4 class="my-0 fw-normal">Class A:</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-1 mb-1">
                  <li>Critical malfunctions of servers, internet connectivity, and management teams' laptops or computers.</li>
                  <li class="mt-3">Response time: 1 hour</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card page cardFeature mb-1 rounded-3 shadow-sm">
              <div class="card-header pt-3">
                <h4 class="my-0 fw-normal">Class B:</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-1 mb-1">
                  <li>Desktop support for non-critical issues.</li>
                  <li class="mt-3">Response time: 3 hours</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card page cardFeature mb-1 rounded-3 shadow-sm">
              <div class="card-header pt-3">
                <h4 class="my-0 fw-normal">Class C:</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-1 mb-1">
                  <li>Non-critical support with a 24-hour response time.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="display-10">
        We offer a 3-month exit clause to facilitate a comprehensive handover procedure, ensuring minimal disruption to your operation(s).
      </p>
    </main>
  </div>
  <div class="getStartedContainer page">
    <div class="row getStartedRow">
      <div class="col-12 getStartedDiv">
        <a href="/getStarted/#pageFive"><button class="getStartedButton"><span class="text">WANT FREE A QUOTE</span></button></a>
      </div>
      <div class="col-12 finalMessage">
        <blockquote><p>We combine modern technology with 26 years of accumilated IT experience to produce automations to save your staff time and to save you money.</p></blockquote>
        <blockquote><p>Together, we will make <span class="itUnderline">IT</span> work for you.</p></blockquote>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %><!-- footer -->